body {
    font-family: 'Courier New', Courier, monospace;
    background: #181a1b;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    padding: 2em 0;
    min-height: 70vh;
    box-sizing: border-box;
    width: 100%;
}

section {
    background: #23272a;
    border-radius: 0;
    box-shadow: 0 0 0 4px #ff4b91;
    min-width: 350px;
    max-width: 400px;
    flex: 1 1 350px;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    height: fit-content;
    overflow: auto;
    border: none;
}

#about, #menu, #gallery {
    flex: 1 1 350px;
    max-width: 400px;
}

#contact {
    flex: 1;
    min-width:100%;
    background: #23272a;
    box-shadow: 0 0 0 4px #fff;
    padding: 1em;
    margin: 0;
    align-self: stretch;
    text-align: center;


}
#contact h2,
#contact h3,
#contact p {
    display: inline-block;
    margin: 0;
}
#test {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2em 0;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

header, footer {
    background: #ff4b91;
    border: none;
    text-align: center;
    padding: 1em 0;
    color: #181a1b;
}

header h1 {
    color: #fff;
    font-size: 2.8em;
    margin: 0.2em 0;
    letter-spacing: 4px;
    text-shadow: 2px 2px 0 #ff4b91, 4px 4px 0 #181a1b;
}


nav a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 1em;
    font-size: 1.2em;
    transition: color 0.2s;
}
nav a:hover {
    color: black;
}

h2, h3 {
    color: #ff4b91;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    list-style: square inside;
    padding: 0;
}

li {
    padding: 0.5em 0;
    font-size: 1.1em;
    border-bottom: 1px solid #444;
}

img {
    border-radius: 0;
    margin: 1em 1em 1em 0;
    border: 4px solid #ff4b91;
    background: #23272a;
}

footer {
    font-size: 1.1em;
    color: #fff;
    background: #ff4b91;
    margin-top: 2em;
}

#gallery, #menu, #contact {
    box-shadow: 0 0 0 4px #fff;
    background: #23272a;
}

section h3 {
    background: #181a1b;
    display: inline-block;
    padding: 0.2em 1em;
    border-radius: 0;
    margin-bottom: 0.5em;
    color: #ff4b91;
    border-left: 4px solid #ff4b91;
}

.img-large {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border: 4px solid #ff4b91;
    margin: 1em 0;
    border-radius: 0;
    background: #23272a;
}

.img-medium {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 4px solid #ff4b91;
    margin: 1em 0;
    border-radius: 0;
    background: #23272a;
}


@media (max-width: 900px) {
    .img-large, .img-medium {
        max-width: 100%;
        margin: 0.5em 0;
    }
}